<main>
	<div class="container justify-content-center">
		<div class="row ">
			<div class="card col-12 mt-5 px-0 justify-content-center">
				<img class="card-img-top" src="planet-placeholders.jpg" alt="Planet cartoon image">
				<div class="card-body text-center">
					<h2 class="card-title">{{event.eventTitle}}</h2>
					<p class="card-text">{{event.eventContent}}</p>
					<div class="row justify-content-center">
						<span class="col-2">Start Time: {{event.eventStartDate | date: 'shortTime'}}</span>
						<span class="col-2">End Date: {{event.eventEndDate | date: 'shortTime'}}</span>
					 	<div><p> </p>
						</div>
					</div>
					<button class="btn btn-primary">Rsvp</button>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="jumbotron containerScroll" *ngFor="let comment of comments">
			<div class="media">
				<img src="planet-placeholders.jpg" alt="placeholder image" class="rounded-circle align-self-start img-thumbnail ">
				<div class="media-body m-2 p-2">
					<h5 class="mt-0">{{comment.profileName}}</h5>
					<p>{{comment.comment.commentContent}}</p>
								<p>{{comment.comment.commentDate | date: 'shortTime'}}</p>

				</div>
			</div>
		</div>
	</div>
</main>
