<main>
	<div class="container justify-content-center">
		<div class="row ">
			<div class="card col-12 mt-5 px-0 justify-content-center">
				<img class="card-img-top" src="planet-placeholders.jpg" alt="Planet cartoon image">
				<div class="card-body text-center">
					<h2 class="card-title">Event</h2>
					<p class="card-text">Here is a short description of the event.</p>
					<div class="row justify-content-center">
						<span class="col-2">StartDate</span>
						<span class="col-2">EndDate</span>
					</div>
					<button class="btn btn-primary">Rsvp</button>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="jumbotron containerScroll">
			<div class="media">
				<img src="planet-placeholders.jpg" alt="placeholder image" class="rounded-circle align-self-start img-thumbnail ">
				<div class="media-body m-2 p-2">
					<h5 class="mt-0">Profile Name</h5>
					This is the comment content
				</div>
			</div>
		</div>
	</div>
</main>
