<div class="container-fluid">
	<div class="row">
		<div class="col-4 sticky-top">

			<div class="card">

				<img class="card-img-top" src="./images/placeholder.jpeg" alt="Profile Picture">
				<div class="card-body">
					<h4 class="card-title">Profile Name</h4>
					<p class="card-text">
						Email
					</p>
					<p class="card-text">
						Bio
					</p>
					<p class="card-text">
					</p>
				</div>
			</div>
		</div>
		<div class="col-8">
			<div class="jumbotron">
				<div class="container">
					<h1 class="display-4">Star Party!</h1>
					<p class="lead">The starriest of parties.</p>
				</div>
			</div>
			<div class="jumbotron">
				<div class="container">
					<h1 class="display-4">Another Star Party</h1>
					<p class="lead">This party will be lit. </p>
				</div>
			</div>
			<div class="jumbotron">
				<div class="container">
					<h1 class="display-4">Lecture</h1>
					<p class="lead">We like to talk, there will be food.</p>
				</div>
			</div>
			<div class="jumbotron">
				<div class="container">
					<h1 class="display-4">Meet Up</h1>
					<p class="lead">We like looking at stars, join us!</p>
				</div>
			</div>
			<div class="jumbotron">
				<div class="container">
					<h1 class="display-4">Lecture</h1>
					<p class="lead">Come listen to the foremost leader in astronomy today.</p>
				</div>
			</div>
			<div class="jumbotron">
				<div class="container">
					<h1 class="display-4">Meet Up</h1>
					<p class="lead">This is where all the coolest astronomers are going to be.</p>
				</div>
			</div>
		</div>
	</div>
</div>