<div class="container-fluid">
	<div class="row">
		<div class="col-4">
			<div class="sticky-top">

				<div class="card">

					<img class="card-img-top" src="../src/app/event/placeholder.jpeg" alt="Profile Picture">
					<div class="card-body">
						<h4 class="card-title">Profile Name</h4>
						<p class="card-text">
							Email
						</p>
						<p class="card-text">
							Bio
						</p>
						<p class="card-text">
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-8">
			<div class="jumbotron" *ngFor="let event of events">
				<div class="container">
					<h1 class="display-4">{{event.eventName}}</h1>
					<p class="lead">{{event.eventContent}}</p>
				</div>
			</div>
		</div>
	</div>
</div>