<phpunit>
	<testsuites>
		<testsuite name="Astronomer Unit Testing">
			<!--<file>ProfileTest.php</file>-->
		<!--<file>EventTest.php</file>-->
			<!--<file>EventTypeTest.php</file>-->
			<file>CommentTest.php</file>
			<!--<file>RsvpTest.php</file>-->
		</testsuite>
	</testsuites>
<!--	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>-->
</phpunit>