#bg{
	position: fixed;
	top: 0;
	left: 0;

	/* Preserve aspect ratio */
	min-width: 100%;
	min-height: 100%;
}

#carouselExampleIndicators {
	position: center;
	align-items: center;
}

body {
	background: url(../img/sky.jpg) no-repeat center top scroll;
	background-size: cover;

}

